@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  min-width: 1440px;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
}

.button {
  display: inline-block;
  padding: 16px 40px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.text {
  margin: 0;
}

.field {
  padding: 10px 16px 11px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.page-header {
  position: relative;
  width: 1160px;
  padding: 20px 60px 0;
  z-index: 1;
}

.page-header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  top: 40px;
  left: 0;
  background-color: #ffe17f;
  z-index: -1;
}

.header-logo {
  display: block;
  margin-bottom: 20px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.navigation-search-form {
  display: flex;
  align-items: center;
  margin-right: 26px;
}

.form-field {
  width: 357px;
  padding: 8px 10px 8px 48px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  border-right: 0;
  background-color: #ffe17f;
  background-image: url("../images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 14px 10px;
  cursor: pointer;
}

.form-button {
  width: 160px;
  padding: 8px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  background-color: #ffe17f;
}

.navigation-user-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 497px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user-link {
  display: inline-block;
  /* margin-right: 18px; */
  font-family: inherit;
  color: #000000;
  text-decoration: none;
}

.navigation-user-login {
  width: 238px;
  margin-right: 18px;
  padding-left: 27px;
  background-image: url("../images/icon-personal.svg");
  background-repeat: no-repeat;
  background-position: 0 8px;
}

.navigation-user-compare {
  width: 105px;
  margin-right: 18px;
  padding-left: 22px;
  background-image: url("../images/icon-compare.svg");
  background-repeat: no-repeat;
  background-position: 0 8px;
}

.cart-button {
  position: relative;
  width: 117px;
  padding-left: 43px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  background-color: inherit;
  border: transparent;
  cursor: pointer;
}

.cart-button::before {
  content: "2";
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 1;
  width: 21px;
  height: 21px;
  padding: 3px 0 3px 0;
  font-size: 14px;
  line-height: 17px;
  background-color: #ffffff;
  border-radius: 50%;
}

.cart-button::after {
  content: "";
  position: absolute;
  top: 22%;
  left: 24px;
  transform: translateX(-50%);
  width: 16px;
  height: 14px;
  background-color: #ffe17f;
  background-image: url("../images/icon-basket.svg");
  background-repeat: no-repeat;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.catalog-button {
  display: flex;
  align-items: center;
  padding: 0;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.catalog-dropdown {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 17px;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}

.catalog-dropdown::before,
.catalog-dropdown::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.catalog-dropdown::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.navigation-submenu {
  display: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.navigation-submenu-open {
  /* display: block; */
}

.submenu-catalog {
  position: absolute;
  display: grid;
  grid-template-columns: 235px 200px 211px;
  gap: 15px;
  z-index: 2;
  background-color: #ffe17f;
}

.submenu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: none;
}

.submenu-item {
  padding-bottom: 18px;
}

.submenu-link {
  color: #000000;
  text-decoration: none;
}

.navigation-list-wrapper {
  margin-left: auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  max-width: 521px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  margin-left: 44px;
}

.promo-slider {
  position: relative;
  margin-bottom: 70px;
}

/* .promo-slider::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  top: 40px;
  left: 0;
  background-color: #ffe17f;
  z-index: -1;
} */

.slider-wrapper {
  overflow: hidden;
}

.slider-list {
  display: flex;
  width: 3500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-item {
  display: flex;
  width: 1160px;
}

.slider-image-block {
  position: relative;
  display: flex;
}

.slider-image {
  margin-top: -15px;
}

.slider-content-block {
  width: 600px;
  padding-top: 105px;
  padding-left: 40px;
  padding-right: 12px;
}

.slider-content-title {
  margin-bottom: 29px;
}

.slider-content-text {
  margin: 0;
  margin-bottom: 45px;
}

.slider-content-button {
  margin-bottom: 43px;
}

.slider-advantages-list {
  display: flex;
  margin: 0;
}

.slider-advantages-item {
  margin-right: 20px;
}

.slider-advantages-item dt {
  margin-bottom: 12px;
  font-size: 36px;
}

.slider-advantages-item dd {
  margin: 0;
  font-size: 16px;
}

.slider-button {
  position: absolute;
  width: 20px;
  height: 60px;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.slider-prev {
  top: 196px;
  left: 69px;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
}

.slider-next {
  top: 196px;
  left: 579px;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.slider-pagination {
  position: absolute;
  right: 21px;
  bottom: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* .slider-pagination-item {
  margin: 0 10px;
} */

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  background-color: #af7842;
}

.slider-pagination-button:focus {
  background-color: #dbb590;
  outline: none;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.product-type {
  margin-bottom: 70px;
}

.product-type-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-type-link {
  position: relative;
  display: block;
  padding-top: 160px;
  text-decoration: none;
}

.product-type-link::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-size: auto;
  left: 0;
  top: 0;
}

.product-glasses::before {
  background-image: url("../images/product-type/glasses.svg");
  background-position: center;
}

.product-monopod::before {
  background-image: url("../images/product-type/stick.svg");
  background-position: 36px 44px;
}

.product-camera::before {
  background-image: url("../images/product-type/camera.svg");
  background-position: center;
}

.product-braselet::before {
  background-image: url("../images/product-type/bracelet.svg");
  background-position: center;
}

.product-watch::before {
  background-image: url("../images/product-type/watch.svg");
  background-position: center;
}

.product-drone::before {
  background-image: url("../images/product-type/drone.svg");
  background-position: center;
}

.product-type-text {
  margin: 0;
  margin-top: 33px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #000000;
}

.services {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.services-buttons-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-button-current {
  color: #ffe17f;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  padding-top: 72px;
  padding-bottom: 72px;
}

.services-title {
  margin-bottom: 34px;
}

.delivery {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  background-color: #f0f0f0;
}

.delivery-link {
  display: block;
  min-height: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.delivery-text {
  position: relative;
  display: block;
  padding: 40px;
}

.delivery-text::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 125px;
  height: 100px;
  background: #ffe17f no-repeat 39px 34px url("../images/delivery.svg");
}

.delivery-text::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 43px;
  width: 40px;
  height: 40px;
  background-image: url("../images/icon-info.svg");
  background-repeat: no-repeat;
  background-position: 19px 14px;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.info {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.about-us-title {
  margin-bottom: 48px;
}

.about-us-text {
  margin-bottom: 30px;
}

.about-us-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.about-us-item {
  position: relative;
  margin-bottom: 19px;
  padding-left: 38px;
}

.about-us-item::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 3px;
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50%;
}

.contacts-title {
  margin-bottom: 48px;
}

.contacts-text {
  margin-bottom: 30px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.contacts-address {
  font-style: normal;
  color: #444444;
}

.contacts-phone {
  margin-bottom: 30px;
}

.contacts-phone-link {
  position: relative;
  color: #444444;
  text-decoration: none;
}

.contacts-phone-link::before {
  position: absolute;
  content: "";
  bottom: 2px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #444444;
}

.contacts-shedule-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}

.subscribe {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 56px;
  padding-top: 64px;
}

.subscribe-text-wrapper {
  margin-bottom: 144px;
}

.subscribe-field {
  width: 557px;
}

.subscribe-text {
  padding: 10px;
  padding-left: 33px;
  background-image: url("../images/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 2px 16px;
}

.page-footer {
  color: #ffffff;
  background-color: #444444;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 77px;
}

.footer-logo {
  display: block;
  margin-bottom: 35px;
}

.page-footer-contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-contacts-address {
  width: 239px;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-services-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-services-item {
  /* padding: 16px 40px; */
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-services-item:not(:last-child) {
  margin-right: 35px;
}

.footer-services-item a {
  color: #ffffff;
  text-decoration: none;
}

.footer-phone-link {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.footer-phone-link::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

.page-footer-social-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  margin: 0;
  margin-left: 500px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-social-item:last-child {
  margin: 0;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #444444;
}

.inner-header {
  width: 1160px;
  margin: 0 auto;
  padding: 35px 60px;
}

.inner-header-title {
  margin-bottom: 16px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  padding-right: 36px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.catalog-wrapper {
  background-color: #f0f0f0;
}

.catalog-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.inner-filter {
  width: 320px;
  padding: 25px 60px;
}

.filter-title {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-group {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

.catalog-filter-title {
  width: 200px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 12px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  border-top: 2px solid #000000;
}

.right-column-wrapper {
  width: 840px;
}

.sorting-wrapper {
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.sorting-wrapper .filter-title {
  margin-bottom: 0;
}

.select-control {
  width: 141px;
  min-height: 30px;
  padding: 0;
  padding-right: 32px;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  border: none;
  appearance: none;
  background-image: url("../images/catalog/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 93% 48%;
  background-color: transparent;
}

.product-card {
  padding: 70px 40px 78px;
  background-color: #ffffff;
}

.product-card-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 40px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style-type: none;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
}

.product-card-image {
  margin-bottom: 32px;
  background-color: #f0f0f0;
}

.product-card-title {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.product-price {
  line-height: 21px;
  color: #444444;
}

.button-show-more {
  display: block;
  width: 100%;
  margin-bottom: 44px;
  padding: 15px 39px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #e5e5e5;
}

.pagination-wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-color: #f0f0f0;
}

.pagination-button {
  padding: 25px;
}

.pagination-numbers {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  list-style-type: none;
}

.pagination-link {
  min-width: 40px;
  min-height: 40px;
  padding: 10px;
  color: #444444;
}
